/* main */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --text-color: #e5e5e5;
    --white: #fff;
    --black: #000;
    --primary-color: #febb00;
    --main-bg-color: #fff;
    --second-bg-color: #f5f5f5;
    --third-bg-color: #e3e3e3;
    --grey: #4b4b4b;
    --red: #c0392b;
    --btn-bg: #000;
    --btn-border-color: #000;
    --btn-color: #fff;
    --top-header-size: 30px;
    --mid-header-size: 80px;
    --bottom-header-size: 45px;
    --film-name-color: #ff8040;
    --body-bg: #181616;
    --box-bg: #221f1f;
    --text-color: #ffffff;
    --nav-height: 60px;
    --space-top: 30px;
}

input {
    outline: none;
    border: none;
}

ul {
    list-style: none;
}

.btn-hover {
    transition: all 0.4s ease-in-out;
}

.btn-hover:hover {
    background-color: var(--primary-color);
    color: var(--btn-bg);
    border: 2px solid var(--primary-color);
}

.btn-flat {
    display: inline-block;
    border: 2px solid var(--white);
    background-color: var(--btn-bg);
    padding: 15px 35px;
    color: var(--primary-color);
    font-size: 15px;
    outline: 0;
    padding: 15px 35px;
    font-weight: 600;
    text-transform: uppercase;
}

.top-down {
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
}

.slide.active .top-down {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.trans-delay-0-2 {
    transition-delay: 0.2s;
}

.trans-delay-0-4 {
    transition-delay: 0.4s;
}

.trans-delay-0-6 {
    transition-delay: 0.6s;
}

.menu-top {
    background: linear-gradient( 180deg, #0c0c0c 20%, rgba(12, 12, 12, .8) 65%, rgba(12, 12, 12, 0));
    color: var(--text-color);
    padding: 1.6px 16px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    z-index: 99;
}

.menu-top,
.mega-menu>ul,
.menu-pc {
    display: flex;
    align-items: center;
}

.mega-menu>ul>li>a {
    font-size: 14px;
    padding: 8px 15px;
    display: flex;
    align-items: center;
    font-weight: 500;
    transition: background-color 0.3s;
    border-radius: 3px;
}

.mega-menu>ul>li>a>i {
    font-size: 8px;
    margin-left: 8px;
}

.mega-menu>ul>li {
    position: relative;
    border-radius: 3px;
    transition: background-color 0.3s;
}

.dropdown-menu {
    position: absolute;
    min-width: 600px;
    display: flex;
    flex-wrap: wrap;
    background: var(--black);
    padding: 15px 0;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    top: 108%;
    transform: translateY(20%);
    transition: transform 0.3s ease;
}

.dropdown-menu>li {
    width: 200px;
}

.dropdown-menu>li>a {
    border-radius: 3px;
    padding: 4px 24px;
    display: inline-block;
    line-height: 1.6;
}

.dropdown-menu>li>a:hover {
    color: var(--primary-color);
}

.dropdown-menu::before {
    content: "";
    display: block;
    position: absolute;
    top: -9px;
    left: 10%;
    z-index: 2;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #0c0c0c;
}

.dropdown-menu::after {
    content: "";
    display: block;
    position: absolute;
    top: -16px;
    left: 0%;
    width: 200px;
    height: 20px;
    background: transparent;
}

.mega-menu-item:hover {
    background-color: var(--primary-color);
    color: #000;
    z-index: 4;
}

.mega-menu>ul>li:hover .dropdown-menu {
    transform: translateY(2%);
    opacity: 1;
    color: var(--text-color);
    visibility: visible;
}

.search-box {
    position: relative;
    margin-right: 20px;
}

.search-box>input {
    background-color: transparent;
    font-size: 14px;
    height: 30px;
    color: var(--text-color);
    padding-right: 30px;
    transition: width .4s cubic-bezier(0, .795, 0, 1);
    position: relative;
    border-bottom: 1px solid #ccc;
}

.search-box>i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 4px;
    font-size: 24px;
    color: var(--primary-color);
    cursor: pointer;
    transition: opacity 0.3s;
}

.search-box>i:hover {
    opacity: 0.8;
}

.menu-pc {}

.menu-pc>.user {
    display: flex;
    align-items: center;
    transition: color 0.3s;
    cursor: pointer;
    position: relative;
}

.menu-pc>.user>i:nth-child(1) {
    margin: 0 15px;
    font-size: 28px;
    color: var(--primary-color);
}

.menu-pc>.user>i:nth-child(3) {
    font-size: 8px;
    margin-left: 4px;
}

.menu-pc>.user:hover {
    color: var(--primary-color);
}

.menu-pc>.user:hover .dropdown-menu-user {
    color: var(--text-color);
}

.dropdown-menu-user {
    position: absolute;
    top: 79%;
    left: -18px;
    background-color: #0c0c0c;
    border-radius: 5px;
    min-width: 155px;
    padding: 15px 0;
    box-shadow: 0 4px 15px rgb(0 0 0 / 50%);
    transform: translateY(40%);
    transition: transform 0.3s ease;
    visibility: hidden;
    opacity: 0;
}

.dropdown-menu-user>li {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-menu-user::before {
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    left: 24%;
    z-index: 2;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #0c0c0c;
}

.dropdown-menu-user::after {
    content: "";
    display: block;
    position: absolute;
    top: -16px;
    left: 0%;
    width: 200px;
    height: 20px;
    background: transparent;
}

.dropdown-menu-user>li:hover {
    color: var(--primary-color);
}

.menu-pc>.user:hover .dropdown-menu-user {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
}

.hero {
    height: 90vh;
}

.slider,
.slider .container {
    height: 100%;
    position: relative;
    padding: unset;
}

.slide {
    width: 100%;
    height: 0;
    position: absolute;
    /* display: flex; */
    /* inset: 0; */
    overflow: hidden;
    visibility: hidden;
}

.slide>.info {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    width: 50%;
    background: linear-gradient( 90deg, #000, #000 30%, rgba(0, 0, 0, .5) 70%, transparent);
    padding-left: 126px;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#000000", GradientType=1);
}

.slide>.info>.info-content {
    position: absolute;
    top: 40%;
    text-align: start;
    color: #fff;
}

.slide>.info>.info-content>h2 {
    font-size: 2vw;
    color: #febb00;
    background: linear-gradient( 90deg, rgba(254, 187, 0, .6), rgba(254, 187, 0, 0));
}

.slide>.info>.info-content>h3 {
    padding: .5vw 0;
}

.slide>.info>.info-content>p {
    padding-bottom: .5vw;
}

.slide>.img {
    text-align: right;
}

.slide>.img>div {
    width: 85vw;
    height: 85vh;
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
}

.slide.active {
    visibility: visible;
    height: 100%;
}

.gradient-bottom {
    display: block;
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0px;
    left: 0;
    z-index: 14;
    background: linear-gradient( 0deg, rgba(0, 0, 0, .9), transparent);
}


/* btn prev */

.slide-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    outline: 0;
    border: 0;
    border-radius: 50%;
    font-size: 25px;
    display: flex;
    align-items: center;
    padding: 10px;
    transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
    z-index: 100;
    cursor: pointer;
}

.slide-control:hover {
    background-color: var(--primary-color);
    color: var(--btn-color);
}

.slide-next {
    right: -80px;
}

.slide-prev {
    left: -80px;
}

.slider:hover .slide-next {
    right: 50px;
}

.slider:hover .slide-prev {
    left: 50px;
}

:root {}

html {
    font-size: 16px;
}

body {
    font-family: Roboto, sans-serif;
    background-color: var(--body-bg);
    color: var(--text-color);
    padding-top: var(--nav-height);
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: unset;
}

img {
    max-width: 100%;
}

.main-color {
    color: var(--primary-color);
}

a.movie-item:hover {
    color: unset;
}

.btn {
    color: #ffffff;
    padding: 0.25rem 1.5rem;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 700;
    display: inline-flex;
    position: relative;
    align-items: center;
}

.btn-hover:hover::before {
    width: 100%;
}

.btn i,
.btn span {
    z-index: 1;
}

.btn i {
    margin-right: 1rem;
}

.hamburger-menu {
    --size: 30px;
    height: var(--size);
    width: var(--size);
    cursor: pointer;
    z-index: 101;
    position: relative;
    display: none;
    align-items: center;
}

.hamburger {
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    width: var(--size);
    height: 3px;
    border-radius: 0.5rem;
    background-color: var(--text-color);
    transition: 0.4s;
}

.hamburger::before,
.hamburger::after {
    content: "";
    position: absolute;
    left: 0;
}

.hamburger::before {
    top: -10px;
}

.hamburger::after {
    bottom: -10px;
}

.hamburger-menu.active .hamburger {
    background-color: transparent;
}

.hamburger-menu.active .hamburger::before {
    transform-origin: top left;
    transform: rotate(45deg);
    left: 6px;
}

.hamburger-menu.active .hamburger::after {
    transform-origin: bottom left;
    transform: rotate(-45deg);
    left: 6px;
}

.hero-slide-item {
    padding-top: 40%;
    position: relative;
    overflow: hidden;
}

.hero-slide-item img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.hero-slide-item-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: var(--text-color);
    display: flex;
}

.item-content-wraper {
    padding-left: 5rem;
    width: 40%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.item-content-wraper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}

.item-content-title {
    font-size: 5rem;
    line-height: 5rem;
    font-weight: 900;
}

.movie-infos {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: calc(var(--space-top) / 2);
}

.movie-info {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 600;
}

.movie-info span {
    margin-left: 5px;
}

.movie-info i {
    color: var(--primary-color);
}

.movie-info~.movie-info {
    margin-left: 5px;
}

.item-content-description {
    font-size: 1.15rem;
    margin-top: var(--space-top);
    line-height: 1.5rem;
}

.item-action {
    margin-top: var(--space-top);
}

.carousel-nav-center {
    position: relative;
}

.carousel-nav-center .owl-nav button i {
    font-size: 3rem;
}

.carousel-nav-center .owl-nav button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-nav-center .owl-nav .owl-prev {
    position: absolute;
    left: 5px;
}

.carousel-nav-center .owl-nav .owl-next {
    position: absolute;
    right: 5px;
}

.owl-nav button {
    border: none;
    outline: none;
}

.owl-nav button i {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
}

.owl-nav button:hover i {
    color: var(--primary-color);
}

.owl-item.active .top-down {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
}

.movie-item {
    display: block;
    position: relative;
    overflow: hidden;
    padding-top: 140%;
    cursor: pointer;
}

.movie-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: transform 0.3s linear;
}

.movie-item:hover img {
    transform: scale(1.2);
}

.movie-item-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.8);
}

.movie-item-content::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}

.movie-item-title {
    color: var(--text-color);
    font-size: 1.5rem;
    position: relative;
    font-weight: 700;
}

.section {
    padding-top: 80px;
}

.section-header {
    margin-bottom: 30px;
    padding-left: 20px;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
    border-left: 4px solid var(--primary-color);
    display: flex;
    align-items: center;
}

.pricing-header {
    margin-bottom: 30px;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
}

.pricing-box {
    padding: 50px;
    margin: 15px 0;
    background-color: var(--box-bg);
    border-top: 5px solid transparent;
    transition: transform 0.3s ease-in-out;
}

.pricing-box:hover {
    transform: translateY(-20px);
}

.pricing-box.hightlight {
    border-top: 5px solid var(--primary-color);
}

.pricing-box-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
}

.pricing-price {
    font-weight: 700;
}

.pricing-price span {
    font-size: 1rem;
}

.pricing-box-content {
    text-align: center;
    margin-top: 60px;
    font-size: 1.25rem;
}

.pricing-box-action {
    text-align: center;
    margin-top: 60px;
}

footer.section {
    margin-top: 80px;
    padding-bottom: 80px;
    position: relative;
    background-color: var(--box-bg);
}

footer a:hover {
    color: var(--primary-color);
}

footer a.logo {
    margin-top: -2.5rem;
    display: block;
}

footer a.logo:hover {
    color: unset;
}

.social-list {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.social-item {
    --size: 30px;
    height: var(--size);
    width: var(--size);
    display: grid;
    place-items: center;
    border-radius: 50%;
    background-color: var(--text-color);
    color: var(--primary-color);
}

.social-item:hover {
    background-color: var(--primary-color);
    color: var(--text-color);
}

.social-item~.social-item {
    margin-left: 20px;
}

footer .content {
    margin-top: 20px;
}

.footer-menu {
    list-style-type: none;
    padding: 0;
}

.footer-menu a {
    display: inline-block;
    transition: transform 0.2s ease-in-out;
}

.footer-menu a:hover {
    transform: translateX(5px);
}

.copyright {
    padding: 10px;
    border-top: 1px solid var(--body-bg);
    background-color: var(--box-bg);
    text-align: center;
    transition: all 0.5s ease 0s;
}

.copyright>a:hover {
    color: var(--primary-color);
}


/* RESPONSIVE */

@media only screen and (max-width: 1280px) {
    html {
        font-size: 14px;
    }
    .hero-slide-item {
        padding-top: 50%;
    }
    .item-content-wraper {
        width: 50%;
    }
}

.container {
    padding: 0 20px;
}

@media only screen and (max-width: 850px) {
    html {
        font-size: 12px;
    }
    .container {
        padding: 0 15px;
    }
    .hero-slide-item {
        height: max-content;
        padding-top: unset;
    }
    .item-content-wraper {
        width: 100%;
        height: 100%;
        padding-bottom: 20px;
        padding-right: 5rem;
        background-color: rgba(0, 0, 0, 0.2);
    }
    .hero-slide-item-content {
        position: relative;
    }
    .hero-slide-item img {
        height: 100%;
    }
    .item-content-title {
        font-size: 3rem;
    }
    .hamburger-menu {
        display: grid;
    }
    .nav-menu {
        /* display: none; */
        position: absolute;
        top: 100%;
        left: -100%;
        background-color: #000000;
        flex-direction: column;
        width: 80%;
        height: 100vh;
        padding: 20px;
        transition: 0.3s ease-in-out;
    }
    .nav-menu li {
        margin: 10px 30px;
    }
    .nav-menu.active {
        left: 0;
    }
}